@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');




*{
    margin: 0;
    padding: 0;
    
}

img{
    width: 100%;
}

html,body{
    height: 100%;
    width: 100%;
    /* set a minimum for the site for  */
    min-width: 600px;
}

body main{
margin: auto;
}

body main div{
    margin: 10px;
}


/************** Nav Bar **************/
.topnav h1{
    padding: 1em;
}

.topnav{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

.topnav ul{
    display: flex;
    justify-content:right;
}

.topnav ul li{
   list-style: none; 
}

.topnav ul li a{
    display: block;
    padding: 2em;
    color: rgb(0, 0, 0);
    transition: .5s;
}


.topnav ul li a:hover{
    background-color: black;
    color: white;
}




/************** Main Body **************/
main{
    width: 100%;
    max-width: 900px;
    background-color: blueviolet;
    display: grid;

    /* had to search the docs
    found the answer here : 
    https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout#implicit_and_explicit_grids */
    grid-template-columns: repeat(3, 1fr);
}

.hero{
    grid-column-start: 1;
    grid-column-end: 4; 
}











/************** Footer Nav **************/
footer{
    display: grid;
    place-items: center;
    grid-template-columns: auto 1fr auto;
    background-color: aqua;
    padding: 15px;
}


footer #social ul {
    display: flex;
    justify-content: right;
    align-content: center;
}


footer ul li a{
    display :flex ;
    justify-self :center;
}


footer #social ul li {
    list-style:none;
}


footer #social ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    background-color: rgb(150, 19, 160);
}


