@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@200;400;700&family=Open+Sans&family=Space+Grotesk:wght@300;400;700&display=swap');
/* font-family: 'Anek Devanagari', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Space Grotesk', sans-serif; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

html,body{
    width: 100%;
    min-width: 600px;
}

body{
    border: 0;
    font-family: 'Anek Devanagari';
}

.picture_caption{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size:xx-small;
    color: rgb(78, 78, 78);
}

body main{
margin: auto;
}




/************** Nav Bar **************/
.topnav h1{
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(115, 115, 115);
    align-self: center;
}

.topnav{
    background-color: rgb(214, 214, 214);
    display: flex;
    justify-content: space-between;
}

.topnav ul{
    display: flex;
    justify-content:right;
    align-self: center;
}

.topnav ul li{
   list-style: none; 
}

.topnav ul li a{
    display: block;
    padding: 2em;
    color: rgb(0, 0, 0);
    transition: .5s;
}

.topnav ul li a:hover{
    background-color: black;
    color: white;
}


/************** Footer Nav **************/
footer{
    position: fixed;
    bottom: 0;
    width:100%;
    display: grid;
    place-items: center;
    grid-template-columns: auto 1fr auto;
    background-color: rgb(214, 214, 214);
}

footer #social ul {
    display: flex;
    align-content: center;
}

footer ul li a{
    display :flex ;
    justify-self :center;
}

footer ul li {
    list-style:none;
    padding: 0 10px;
}

footer #social ul li a {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: rgb(115, 115, 115);
}


