@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



*{
    margin: 0;
    padding: 0;
    
}

img{
    width: 100%;
}

html,body{
    height: 100%;
    width: 100%;
    /* set a minimum for the site for  */
    min-width: 600px;
}

body main{
margin: auto;
height: 100%;
}

body main div{
    margin: 10px;
}


/************** Nav Bar **************/
.topnav h1{
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(150, 19, 160);
    align-self: center;
}

.topnav{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

.topnav ul{
    display: flex;
    justify-content:right;
    align-self: center;
}

.topnav ul li{
   list-style: none; 
}

.topnav ul li a{
    display: block;
    padding: 2em;
    color: rgb(0, 0, 0);
    transition: .5s;
}


.topnav ul li a:hover{
    background-color: black;
    color: white;
}



/************** Footer Nav **************/
footer{
    position: fixed;
    width:100%;
    bottom: 0;
    display: grid;
    place-items: center;
    grid-template-columns: auto 1fr auto;
    background-color: aqua;
}


footer #social ul {
    display: flex;
    justify-content: right;
    align-content: center;
}


footer ul li a{
    display :flex ;
    justify-self :center;
}


footer ul li {
    list-style:none;
    padding: 5px;
}


footer #social ul li a {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(150, 19, 160);
}


